---
layout: default
title: Rehearsals | The Angel Orchestra
img-src: sbk.jpeg
---

<div id="contentContainer">
    <div id='stacks_in_119_page0' class='stacks_in markdown_stack'>
        <h3 id="rehearsals">Rehearsals</h3>

        <p>We rehearse during term time on Wednesdays from 7.30pm to 9.30pm in St Silas Church on Risinghill Street, London N1 9UL. Most of our concerts are at St Silas Church as well.</p>

        <div id='stacks_out_521_page0' class='stacks_out stacks_m_hidden stacks_s_hidden'>
            <div id='stacks_in_521_page0' class='stacks_in html_stack'><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2481.896617488322!2d-0.11194399999999552!3d51.533456!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48761b418193de9f%3A0x480e9ce5fcdb50f8!2sThe+Angel+Orchestra!5e0!3m2!1sen!2suk!4v1443475640777"
                    width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe></div>
        </div>
        <div id='stacks_out_117_page0' class='stacks_out stacks_l_hidden'>
            <div id='stacks_in_117_page0' class='stacks_in html_stack'><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2481.896617488322!2d-0.11194399999999552!3d51.533456!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48761b418193de9f%3A0x480e9ce5fcdb50f8!2sThe+Angel+Orchestra!5e0!3m2!1sen!2suk!4v1443475383154"
                    width="100%" height="200" frameborder="0" style="border:0" allowfullscreen></iframe></div>
        </div>

        <p>The last evening rehearsal before the concert is usually until 10pm, but there will also be one final rehearsal on concert day, which will start at 2pm or 3pm depending on the concert start time.</p>
        {% include rehearsals.html %}

    </div>
    <div id='stacks_in_519_page0' class='stacks_in markdown_stack'>
        <h3 id="music">Music</h3>

        <p>Some of this term's music is available to download from <a href="http://imslp.org">IMSLP</a>:</p>

        <ul>

            {% include imslp.html %}

        </ul>

            <h3 id="bowed_parts">Parts</h3>

            <p>Tchaikovsky</p>
            <ul>
                <li><a href="/assets/images/Tchaik Nutcracker vln1 bowed.pdf">Violin 1</a></li>
                <li><a href="/assets/images/Tchaik Nutcracker vln2 bowed.pdf">Violin 2</a></li>
                <li><a href="/assets/images/Tchaik Nutcracker vla bowed.pdf">Viola</a></li>
                <li><a href="/assets/images/Tchaik Nutcracker vcl bowed.pdf">Cello</a></li>
            </ul>

            <p>Persephone</p>
            <ul>
                <li><a href="/assets/images/Persephone Cello.pdf">Cello.pdf</a></li>
                <li><a href="/assets/images/Persephone Double bass.pdf">Double bass.pdf</a></li>
                <li><a href="/assets/images/Persephone Viola.pdf">Viola.pdf</a></li>
                <li><a href="/assets/images/Persephone Vln 1.pdf">Vln 1.pdf</a></li>
                <li><a href="/assets/images/Persephone Vln 2.pdf">Vln 2.pdf</a></li>
                <li><a href="/assets/images/Persephone parts - Bass Trombone & Tuba.pdf">Bass Trombone & Tuba.pdf</a></li>
                <li><a href="/assets/images/Persephone parts - Bassoon 1.pdf">Bassoon 1.pdf</a></li>
                <li><a href="/assets/images/Persephone parts - Bassoon 2.pdf">Bassoon 2.pdf</a></li>
                <li><a href="/assets/images/Persephone parts - Celesta.pdf">Celesta.pdf</a></li>
                <li><a href="/assets/images/Persephone parts - Clarinet 1 in Bb.pdf">Clarinet 1 in Bb.pdf</a></li>
                <li><a href="/assets/images/Persephone parts - Clarinet 2 in Bb.pdf">Clarinet 2 in Bb.pdf</a></li>
                <li><a href="/assets/images/Persephone parts - Contrabassoon.pdf">Contrabassoon.pdf</a></li>
                <li><a href="/assets/images/Persephone parts - Cor Anglais.pdf">Cor Anglais.pdf</a></li>
                <li><a href="/assets/images/Persephone parts - Flute 1.pdf">Flute 1.pdf</a></li>
                <li><a href="/assets/images/Persephone parts - Flute 2.pdf">Flute 2.pdf</a></li>
                <li><a href="/assets/images/Persephone parts - Harp.pdf">Harp.pdf</a></li>
                <li><a href="/assets/images/Persephone parts - Horns 1&2 in F.pdf">Horns 1&2 in F.pdf</a></li>
                <li><a href="/assets/images/Persephone parts - Horns 3&4 in F.pdf">Horns 3&4 in F.pdf</a></li>
                <li><a href="/assets/images/Persephone parts - Oboe 1.pdf">Oboe 1.pdf</a></li>
                <li><a href="/assets/images/Persephone parts - Oboe 2.pdf">Oboe 2.pdf</a></li>
                <li><a href="/assets/images/Persephone parts - Percussion.pdf">Percussion.pdf</a></li>
                <li><a href="/assets/images/Persephone parts - Piccolo, Flute 3.pdf">Piccolo, Flute 3.pdf</a></li>
                <li><a href="/assets/images/Persephone parts - Tenor Trombones 1&2.pdf">Tenor Trombones 1&2.pdf</a></li>
                <li><a href="/assets/images/Persephone parts - Timpani.pdf">Timpani.pdf</a></li>
                <li><a href="/assets/images/Persephone parts - Trumpet 1 in Bb.pdf">Trumpet 1 in Bb.pdf</a></li>
                <li><a href="/assets/images/Persephone parts - Trumpet 2 in Bb.pdf">Trumpet 2 in Bb.pdf</a></li>
                <li><a href="/assets/images/Persephone parts - Trumpet 3 in Bb.pdf">Trumpet 3 in Bb.pdf</a></li>
            </ul>

    </div>
    <div id='stacks_in_127_page0' class='stacks_in markdown_stack'>

        <h3 id="subs">Subscriptions</h3>

        <p>Subscriptions per term are £90, with a concessionary rate of £50, and can be paid via <a href="https://localgiving.org/charity/angel-orchestra/">our account on the Local Giving website</a>, or bank transfer to 60-12-02 / 14045222. Local Giving
            is preferred as it immediately takes care of Gift Aid.</p>
    </div>
    <div id='stacks_in_142_page0' class='stacks_in markdown_stack'>
        <h3 id="mailinglist">Mailing List</h3>

        <p>If you are in the orchestra you can join the orchestra mailing list to get the latest information about rehearsals. Send an email to <a href="mailto:players-join@the-angel-orchestra.co.uk">players-join@the-angel-orchestra.co.uk</a> to join the
            mailing list.</p>

        <p>To get in contact with the orchestra please send an email to Matt Porter on <a href="mailto:info@the-angel-orchestra.co.uk">info@the-angel-orchestra.co.uk</a></p>
    </div>

</div>
