---
layout: default
title: The Angel Orchestra
img-src: clarinet.jpeg
---
<div id="contentContainer">
    <div id='stacks_in_50_page3' class='stacks_in com_yourhead_stacks_two_columns_stack'>
        <div class='s3_row'>
            <div class='s3_column s3_column_left'>
                <div id='stacks_out_68_page3' class='stacks_out'>
                    <div id='stacks_in_68_page3' class='stacks_in com_yourhead_stack_header_stack'>
                        <h2>Next Concert</h2>
                        {% include next-concert.html %}

                    </div>
                </div>

                <div id='stacks_out_555_page3' class='stacks_out'>
                    <div id='stacks_in_555_page3' class='stacks_in com_yourhead_stack_header_stack'>
                        <h2>Future concerts</h2>
                        {% include future-concerts.html %}

                    </div>
                </div>
                <div id='stacks_out_667_page3' class='stacks_out'>
                    <div id='stacks_in_667_page3' class='stacks_in markdown_stack'>
                    </div>
                </div>
            </div>
            <div class='s3_column s3_column_right'>
                <div id='stacks_out_70_page3' class='stacks_out'>
                    <div id='stacks_in_70_page3' class='stacks_in com_yourhead_stack_header_stack'>
                        <h2>About the Orchestra</h2>
                    </div>
                </div>
                <div id='stacks_out_74_page3' class='stacks_out'>
                    <div id='stacks_in_74_page3' class='stacks_in markdown_stack'>
                        <p>Conductor: <em><a href="http://www.peterfender.co.uk/">Peter Fender</a></em><br />
                        Leader: <em>Joana Rodrigues</em></p>

                        <p>The Angel Orchestra is a well established and thriving London amateur orchestra that plays to a high standard. We have a professional leader, principal violist and principal cellist, and we meet once a week in term time to rehearse together at St Silas Church, Risinghill Street in Islington.</p>

                        <p>Our repertoire includes a broad range of classical works from Bach to Beethoven, later Romantic and more modern pieces - sometimes written or arranged for us by our own conductor or players.</p>

                        <p>We welcome new players who would like to join, in particular trombone, viola and double bass players.  We do not hold formal auditions.  If you would like to join or want any information, strings should contact Pauline Fowler or Frances Hughes on <a href='mailto:info@the-angel-orchestra.co.uk'>info@the-angel-orchestra.co.uk</a> or 07786 111398 (Pauline)/07786 111401 (Frances), and wind players should contact Matt Porter on <a href='mailto:info@the-angel-orchestra.co.uk'>info@the-angel-orchestra.co.uk</a> or 07595 049829.</p>

                        <p>Follow us on <a href='https://twitter.com/angelorchestra?lang=en'>Twitter</a> or <a href='https://www.instagram.com/angel_orchestra/'>Instagram</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
