<nav class="main-nav">
    <ul>
        <li><a href="/" rel="" {% if page.url == "/" %} id="current" {% endif %}>Concerts</a></li>
        <li><a href="/rehearsals/" rel="" {% if page.url == "/rehearsals/" %} id="current" {% endif %}>Rehearsals</a></li>
        <li><a href="/women-composers/" rel="" {% if page.url == "/women-composers/" %} id="current" {% endif %}>Women composers</a></li>
        <li><a href="/about/" rel="" {% if page.url == "/about/" %} id="current" {% endif %}>About</a></li>
        <li><a href="/past/" rel="" {% if page.url == "/past/" %} id="current" {% endif %}>Past Concerts</a></li>
    </ul>
</nav>