<h3>28 and 29 January 2023</h3>
<ul>
<li>Beethoven: 9th Symphony</li>
</ul>

<h3>4 December 2022</h3>
<p>Soloist: Joana Rodrigues</p>
<ul>
<li>Ruth Gipps: Cringlemire Gardens</li>
<li>Ruth Gipps: Seascape</li>
<li>Vaughan Williams: The Lark Ascending</li>
<li>Elgar: Enigma Variations</li>
</ul>

<h3>3 July 2022</h3>
<p>Soloist: <a href='https://arianakashefi.com/welcome-2/'>Ariana Kashefi</a></p>
<ul>
<li>Elgar: Cello concerto</li>
<li>Schumann: Symphony no 4</li>
<li>Mel Bonis: Suite en forme de valses</li>
</ul>

<h3>27 March 2022</h3>
<p>Soloist: <a href='https://www.rosahartley.com/'>Rosa Hartley</a></p>
<ul>
<li>Brahms: Symphony no 2</li>
<li>Dvorak: Violin Concerto</li>
<li>Caitlin Rowley: Adjacent Harmonious</li>
</ul>

<h3>5 December 2021</h3>
<p>Soloist: <a href='http://alexandrafletchercello.co.uk/'>Alexandra Fletcher</a></p>
<ul>
<li>Marie Jaell: Cello Concerto</li>
<li>Brahms: Tragic Overture</li>
<li>Tchaikovsky: 5th Symphony</li>
</ul>

<h3>4 July 2021</h3>
<ul>
<li>Sousa: Stars & Stripes</li>
<li>Beach: Bal Masque</li>
<li>Dvorak Symphony No. 8</li>
<li>Gershwin, by George</li>
</ul>

<h3>28 March 2021</h3>
<p>Soloist: Yuri Sabatini</p>
<ul>
<li><strong>Concert cancelled due to Covid-19. Programme would have been as follows</strong></li>
<li>Lili Boulanger: D'un matin de printemps / D'un soir triste</li>
<li>Italian arias for tenor & orchestra</li>
<li>Mussorgsky (arr. Ravel): Pictures at an Exhibition</li>
</ul>

<h3>6 December 2020</h3>
<ul>
<li><strong>Concert cancelled due to Covid-19. Programme would have been as follows</strong></li>
<li>Dvorak Symphony No. 8</li>
<li>Ethel Smyth Boatswain's Mate overture</li>
</ul>

<h3>5 July 2020</h3>
<ul>
<li><strong>Concert cancelled due to Covid-19. Programme would have been as follows</strong></li>
<li>Imogen Holst: Persephone</li>
<li>Strauss: Four last songs</li>
<li>Tchaikovsky: Selection from 'The Nutcracker'</li>
</ul>

<h3>29 March 2020</h3>
<ul>
<li><strong>Concert cancelled due to Covid-19. Programme would have been as follows</strong></li>
<li>Marie Jaell: Cello Concerto</li>
<li>Purcell: Abdelazer Suite</li>
<li>Peter Fender: Wind Suite</li>
<li>Tchaikovsky: Romeo & Juliet</li>
</ul>

<h3>11 and 12 January 2020</h3>
<ul>
<li>Verdi Requiem</li>
</ul>

<h3>8 December 2019</h3>
<p>Soloist: Rosa Hartley</p>
<ul>
<li>Elgar: Sospiri</li>
<li>Mendelssohn: Violin concerto</li>
<li>Ethel Smyth: Serenade in D</li>
</ul>

<h3>7 July 2019</h3>
<p>Soloist: <a href='https://johnupperton.com/'>John Upperton</a></p>
<ul>
<li>Brahms Symphony No. 4</li>
<li>Emilie Mayer Faust Overture</li>
<li>Wagner Wesendonck Lieder</li>
</ul>

<h3>27 and 28 April 2019</h3>
<ul>
<li>Mozart Mass in C minor</li>
</ul>

<h3>31 March 2019</h3>
<p>Soloist: <a href='https://archiaccademianova.com/organico/irene-fiorito/'>Irenè Fiorito</a></p>
<ul>
<li>Sibelius Karelia Suite</li>
<li>Vaughan Williams The Lark Ascending</li>
<li>Peter Fender Violin Concerto</li>
<li>Tchaikovsky Symphony No. 2</li>
</ul>

<h3>9 December 2018</h3>
<p>Soloist: Chiawen Kiew</p>
<ul>
<li>Ethel Smyth Boatswain's Mate overture</li>
<li>Ethel Smyth March of the Women</li>
<li>Cécile Chaminade Flute Concertino</li>
<li>Amy Beach flute quintet Theme & Variations</li>
<li>Louise Farrenc Symphony No. 3</li>
</ul>

<h3>1 July 2018</h3>
<p>Soloist: <a href='https://encoremusicians.com/Chris-Goodman'>Chris Goodman</a></p>
<ul>
<li>Satie 3 Pieces in the form of a pear</li>
<li>Spohr Clarinet concerto C min</li>
<li>Ronald Finch Holme Fen</li>
<li>Beethoven Symphony No. 5</li>
</ul>

<h3>25 March 2018</h3>
<p>Soloist: <a href='https://www.fenellahumphreys.com/'>Fenella Humphreys</a></p>
<ul>
<li>Fanny Mendelssohn Overture in C</li>
<li>Sibelius violin concerto</li>
<li>Dvorak Symphony 9 ('New World')</li>
</ul>

<h3>10 December 2017</h3>
<p>Soloist: <a href='http://www.hannahsloane.com/'>Hannah Sloane</a></p>
<ul>
<li>Beethoven Coriolan overture</li>
<li>Alice Mary Smith Symphony No.2 in A minor</li>
<li>Dvorak Cello concerto in B minor</li>
</ul>

<h3>9 July 2017</h3>
<p>Soloist: Kay Stephen</p>
<ul>
<li>Prokofiev: Sinfonietta</li>
<li>David Bozzo: Suite for Wind Instruments</li>
<li>Telemann: Viola concerto</li>
<li>Holst: Lyric movement</li>
</ul>

<h3>26 March 2017</h3>
<p>Horn: Alex Wide</p>
<ul>
<li>Rimsky Korsakov: Tale of Tsar Saltan</li>
<li>Glière: Horn Concerto</li>
<li>George Lloyd: Symphony No.9</li>
</ul>

<h3>4 December 2016</h3>
<p>Soprano: <a href='http://www.honeyrouhani.co.uk/'>Honey Rouhani</a></p>
<ul>
<li>Songs by Alma Mahler</li>
<li>Mahler, Symphony No. 4</li>
</ul>

<h3>30 September 2016</h3>
<ul>
<li>Live music to The Battle of the Somme by Laura Rossi</li>
</ul>

<h3>3 July 2016</h3>
<ul>
<li>Bach, Ricercar a 6 from A Musical Offering (arr. P Fender)</li>
<li>Brahms, Haydn Variations</li>
<li>Strauss, Serenade</li>
<li>Schumann, Cello concerto (Sheku Kanneh-Mason, cello - BBC Young Musician of the Year 2016)</li>
</ul>

<h3>20 March 2016</h3>
<ul>
<li>Rameau, Ballet Suite</li>
<li>Vasiliki Legaki, Tramontana (<a href='https://soundcloud.com/vasiliki-legaki/tramontana-2015-for-orchestra-performed-by-angel-orchestra-conducted-peter-fender'>audio recording</a>)</li>
<li>Giuliani, Guitar concerto in A op. 30 (<a href="http://www.davidkeatingguitar.com/">David Keating</a>, guitar)</li>
<li>Saint Saens, Symphony No. 2</li>
</ul>

<h3>22 November 2015</h3>
<p>Baritone: <a href='http://www.oskarmccarthy.com/'>Oskar McCarthy</a></p>
<ul>
<li>Beethoven, King Stephen Overture</li>
<li>Mahler: Wer hat dies Liedlein erdacht</li>
<li>Mahler: Wo die schönen Trompeten blasen</li>
<li>Gounod: "le veau d'or" (from Faust)</li>
<li>Mozart: Der Vogelfänger bin ich ja (from Magic Flute)</li>
<li>Brahms, Serenade No. 1 in D</li>
</ul>

<h3>5 July 2015</h3>
<ul>
<li>Hugh Harris: Pavane</li>
<li>Weber: Clarinet Concertino</li>
<li>Peter Fender: Clarinet Concerto</li>
<li>Louise Farrenc: Symphony No.1</li>
</ul>

<h3>29 March 2015</h3>
<ul>
<li>Bach: Toccata & Fugue (arr. PGF)</li>
<li>Elgar: Sea Pictures</li>
<li>George Lloyd: In Memoriam</li>
<li>Schumann: Symphony No.1</li>
</ul>

<h3>13 July 2014</h3>
<ul>
<li>Peter Fender: The Forest</li>
<li>Mahler: Lieder eines fahrenden Gesellen (Norma Ritchie, mezzo-soprano)</li>
<li>Rachmaninoff: Symphony No.2</li>
</ul>

<h3>30 March 2014</h3>
<ul>
<li>Verdi, Prelude to La Traviata</li>
<li>Bruch, Violin Concerto No.1 in G minor (soloist Kamila Bydlowska)</li>
<li>Mendelssohn, Symphony No.4 (Italian)</li>
</ul>

<h3>1 December 2013</h3>
<ul>
<li>Peter Fender: Chiaroscuro Overture</li>
<li>George Lloyd: Cello Concerto (soloist Bart Lafollette)</li>
<li>Amy Beach: Gaelic Symphony</li>
</ul>

<h3>7 July 2013</h3>
<ul>
<li>Bach: Orchestral Suite No. 4</li>
<li>Chausson: Poème de l’amour et de la mer (Soprano Honey Rouhani)</li>
<li>George Lloyd: Pont du Gard (world premiere)</li>
<li>Mussorgksy: Pictures at an Exhibition (arr Tushmalov)</li>
</ul>

<h3>1 June 2013</h3>
<p>With: Vocal Ensemble Hochwang from Ulm in Germany</p>
<ul>
<li>Bach Suite No.3</li>
<li>Bach: Cantata 21 "Ich hatte viel Bekümmernis"</li>
<li>Mendelsson "Hör mein Bitten”</li>
<li>Mozart: Laudate Dominum</li>
</ul>

<h3>24 March 2013</h3>
<ul>
<li>Haydn: Trumpet Concerto (Soloist Max Bronstein)</li>
<li>Mehran Rouhani: Tahere</li>
<li>Dvorak: Symphony No.3</li>
</ul>

<h3>9 December 2012</h3>
<ul>
<li>Sullivan: Selection from Iolanthe</li>
<li>Peter Fender: Speechless</li>
<li>Jessica Bunyard: Photo Piece</li>
<li>Vaughan Williams: London Symphony</li>
</ul>

<h3>15 July 2012</h3>
<ul>
<li>Bach: "Jesu, Joy of Man's Desiring" from Cantata 147</li>
<li>Piovani: Life is Beautiful</li>
<li>Piazzolla: Ave Maria</li>
<li>Mozart: Per pietà, bell’idol mio (Norma Ritchie, mezzo-soprano)</li>
<li>Sibelius: Symphony No.1</li>
</ul>

<h3>25 March 2012</h3>
<ul>
<li>Mussorgsky, Night on Bare Mountain</li>
<li>Bizet, L'Arlésienne Suite No.1</li>
<li>Schubert, Unfinished Symphony (No. 8)</li>
</ul>

<h3>11 December 2011</h3>
<ul>
<li>Milhaud, ‘Saudades do Brasil’</li>
<li>Gluck, ‘Dance of the Blessed Spirits’ (Flute Cristina Crespo)</li>
<li>Dvorak, Symphony No.6</li>
</ul>

<h3>21 August 2011</h3>
<ul>
<li>Mozart, Kontratanz K535</li>
<li>Handel, Fireworks Music</li>
<li>Leonardo Leo, Flute Concerto (soloist Mattia Giagnorio)</li>
<li>Bach, 2nd Movement from Double Violin Concerto</li>
<li>Bartok, Romanian Dances</li>
<li>Rossini, 'Non piu mesta' from Cenerentola</li>
<li>Sibelius, Andante Festivo</li>
</ul>

<h3>17 July 2011</h3>
<ul>
<li>Mozart, Kontratanz K535</li>
<li>Bach, 2nd Movement from Double Violin Concerto</li>
<li>Beethoven, Piano Concerto No. 3</li>
<li>Sibelius, Andante Festivo</li>
<li>Schubert, Symphony No. 3</li>
</ul>

<h3>10 April 2011</h3>
<ul>
<li>Mozart, Overture to Idomeneo</li>
<li>Tchaikovsky, Rococo Variations (Cello Jonathan Bloxham)</li>
<li>Fender, Elegy for Cello and Orchestra -Mendelssohn, Symphony No. 5 (“Reformation”)</li>
</ul>

<h3>12 December 2010</h3>
<ul>
<li>Sibelius, Finlandia</li>
<li>Mahler, Kindertotenlieder</li>
<li>Bizet, Carmen Suites</li>
</ul>

<h3>27 June 2010</h3>
<ul>
<li>Bartok, Romanian Dances</li>
<li>Mozart, Violin Concerto No. 3 in G (Soloist: Abigail Dance)</li>
<li>Ravel, Pavane pour une infante défunte</li>
<li>Borodin, Symphony No. 2 in B minor</li>
</ul>

<h3>27 March 2010</h3>
<ul>
<li>Handel, Music for the Royal Fireworks</li>
<li>Sibelius, 2nd Symphony</li>
</ul>

<h3>29 November 2009</h3>
<ul>
<li>Bach, Sinfonia from the Christmas Oratorio</li>
<li>Dvorak, Cello Concerto (soloist Kwesi Edman) -Brahms, 2nd Symphony</li>
</ul>

<h3>19 July 2009</h3>
<ul>
<li>Beethoven, Symphony 7 in A</li>
<li>Ravel, Tombeau de Couperin</li>
<li>Debussy, Danses Sacrée et Profane (harp & strings)</li>
<li>Milhaud, Symphonie de Chambre No. 5 (wind)</li>
</ul>

<h3>29 March 2009</h3>
<ul>
<li>Weber Freischütz Overture</li>
<li>Handel Water Music (arrangement Hardy)</li>
<li>Dvorak Symphony 8</li>
</ul>

<h3>30 November 2008</h3>
<ul>
<li>Bruch Violin Concerto in G Minor (Soloist Francesca Barrit)</li>
<li>Schubert Symphony 4</li>
<li>Speechless by Peter Fender</li>
<li>Bach Fantasia in C minor, BWV 562</li>
</ul>

<h3>6 July 2008</h3>
<ul>
<li>Mozart's Overture to the Marriage of Figaro</li>
<li>Bach Violin Concerto in E Major (Soloist Peter Fender)</li>
<li>Aronld's Trevalian Suite</li>
<li>Haydn's Symphony no 104 in D Major</li>
</ul>
